<%- include ('../layout/header.ejs') %>
<div class="main">
    <div class="container">
        <div class="content">
            <% for(var i = 0; i < posts.length; i++) { %>
                <div class="post">
                    <div class="top">
                        <h2>
                            <a href="/posts/<%= posts[i].url %>"><%= posts[i].title %></a>
                            <% if(posts[i].owner && posts[i].owner.login === user.login) { %>
                                <a href="/post/edit/<%= posts[i].id %>" style="color: black; text-decoration: unset">&#9998;</a>
                            <% } %>
                        </h2>
                    </div>
                    <div class="body">
                        <%= posts[i].body %>
                    </div>
                    <div class="bottom">
                        <div class="autor">
                            Автор:
                            <a href="/users/<%= posts[i].owner && posts[i].owner.login ? posts[i].owner.login: '' %>">
                                <%= posts[i].owner && posts[i].owner.login ? posts[i].owner.login: '' %>
                            </a>
                        </div>
                        <a href="/<%= posts[i].url %>#posts[i].id">
                            Коментарии: <%= posts[i].commentCount%>
                        </a>
                    </div>
                </div>
            <% } %>
            <div class="pagination">
                <% if(pages > 0 && current > 2) { %>
                    <a href="/archive/<%= Number(current) - 1 %>" class="old">← old page</a>
                <% } %>
                <% if(current == 2) { %>
                    <a href="/" class="old">back on index</a>

                        <% } %>
                <% if(pages > 0 && current < pages) { %>
                    <a href="/archive/<%= Number(current) + 1 %>" class="new">new page →</a>
                <% } %>
            </div>
        </div>
        <%- include('../layout/sidebar.ejs') %>
    </div>
</div>
<%- include ('../layout/footer.ejs') %>


